.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.cardContainer {
  text-align: center;
}
.cardContainer hr {
  width: 24px;
  border: solid 1px var(--accent);
  margin: 8px auto;
}

.figure {
  font-size: 3rem;
}
