.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 32px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f5f5f5;
  padding: 32px;
  border: solid 1px #e5e5e5;
  border-radius: 16px;
}

.price span:nth-child(1) {
  font-size: 3rem;
}

.price span:nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
}

.cardContainer button {
  cursor: pointer;
}

.cardContainer button:hover {
  background-color: #3b99fd;
  color: white;
}

.mainCardBtn {
  background-color: #e5e5e5;
  color: #3b99fd;
}

.mainCardBtn:hover {
  background-color: white !important;
  color: #3b99fd !important;
}

.cardContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
}

.cardContainer ul li::before {
  content: "- ";
}
