.container {
  max-width: 1200px;
  margin: auto;
}

.formContainer {
  margin-top: 32px;
  background-color: aliceblue;
  border-radius: 16px;
  padding: 32px;
}

.formContainer h3 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--title);
  margin-bottom: 8px;
}

.formContainer > p {
  color: gray;
}

.form {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name email" "subject subject" "message message" "button button";
  gap: 16px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form div input,
.form div textarea {
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  /* outline: none; */
  border: solid 1px rgb(175, 175, 175);
}

.form div:nth-child(1) {
  grid-area: name;
}

.form div:nth-child(2) {
  grid-area: email;
}

.form div:nth-child(3) {
  grid-area: subject;
}

.form div:nth-child(4) {
  grid-area: message;
}

.form button {
  grid-area: button;
  width: 200px;
  margin: auto;
}
