.profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-image-container {
  width: 60px;
  height: 60px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-info-name {
  color: var(--title);
  font-size: 1.05rem;
  font-weight: 600;
}

.profile-info-designation {
  color: var(--body);
  font-size: 0.85rem;
}
