:root {
  --accent: #0d83fd;
  --title: #2d465e;
  --body: #212529;
}

* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 32px;
  background-color: #0d83fd;
  color: white;
}
